@import url("https://fonts.googleapis.com/css2?family=Bangers");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    font-family: "Bangers";
    box-sizing: border-box;
    padding-bottom: 4rem;
}